# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Logs and temporary files
*.log
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# VS Code-specific files
.vscode/

# Pytest cache
.pytest_cache/
